<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block styles %}
    <link href="{{url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet">
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block navigation %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse">
                {% if logged_in %}
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/posts/add">New post</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/drafts">Drafts</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a> </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block scripts %}
    <script src="{{url_for('bower.static', filename='jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('bower.static', filename='bootstrap/dist/js/bootstrap.js')}}"></script>
    {% endblock %}
</body>
</html>