{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{url_for('bower.static', filename='bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}Draft{% endblock %}
{% block content %}
<div class="container">
    <form role="form" action="/posts" method="post">
        <ul class="nav nav-tabs">
            {% for code, language in languages.items() %}
                {% if selected_language == code %}
                    <li class="active"><a data-toggle="tab" href="#{{code}}">{{language}}</a></li>
                {% else %}
                    <li><a data-toggle="tab" href="#{{code}}">{{language}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for code in languages.keys() %}
            {% if code == selected_language %}
            <div class="tab-pane fade active in" id="{{code}}">
            {% else %}
            <div class="tab-pane fade" id="{{ code }}">
            {% endif %}
                <div class="form-group">
                    <label for="{{code}}_title">Title:</label>
                    {% if values is defined %}
                    <input type="text" class="form-control" name="{{code}}$title" id="{{code}}_title" value="{{values[code]['title']}}">
                    {% else %}
                    <input type="text" class="form-control" name="{{code}}$title" id="{{code}}_title">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{code}}_post">Post:</label>
                    {% if values is defined %}
                    <textarea name="{{code}}$post" class="form-control" id="{{code}}_post">{{values[code]['markdown']}}</textarea>
                    {% else %}
                    <textarea name="{{code}}$post" class="form-control" id="{{code}}_post"></textarea>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="tags">Tags separated by comma:</label>
            <input type="text" class="form-control" id="tags" name="tags" value="{{tags | join(', ')}}">
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            {% if date is defined %}
            <input type="text" class="form-control datepicker-field" name="date" id="date" value="{{date}}">
            {% else %}
            <input type="text" class="form-control datepicker-field" name="date" id="date">
            {% endif %}
        </div>
        <div class="checkbox">
                {% if draft is defined and draft %}
                <label><input type="checkbox" name="draft" value="1" checked>Draft</label>
                {% else %}
                <label><input type="checkbox" name="draft" value="1">Draft</label>
                {% endif %}
        </div>
        {% if post_id is defined %}
        <input type="hidden" name="post-id" value="{{post_id}}">
        {% endif %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{url_for('bower.static', filename='bootstrap-datepicker/dist/js/bootstrap-datepicker.js')}}"></script>
<script>
    $('.datepicker-field').datepicker({
        format: "yyyy-mm-dd"
    });
</script>
{% endblock %}
