{% extends "base.html" %}
{% block title %}{{post['translations'][selected_language]['title']}}{% endblock %}
{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
        {% for code, language in languages.items() %}
            {% if selected_language == code %}
                <li class="active"><a data-toggle="tab" href="#{{code}}">{{language}}</a></li>
            {% else %}
                <li><a data-toggle="tab" href="#{{code}}">{{language}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="date">
        Published: {{ post['publish_date'].date() }} Last update: {{ post['update_date'].date() }}
    </div>
    <div class="tab-content">
        {% for language_code, translation in post['translations'].items() %}
        {% if selected_language == language_code %}
        <article class="blogpost tab-pane fade active in" id="{{ language_code }}">
        {% else %}
        <article class="blogpost tab-pane fade" id="{{language_code}}">
        {% endif %}
            <h2>{{translation['title']}}</h2>
            <div class="post-content well">
                {{translation['html'] | safe}}
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="button">
        <a href="https://twitter.com/intent/tweet?text={{post['external_url']}}" class="btn btn-primary" target="_blank">
            <span>Tweet this post</span>
        </a>
    </div>
    <div class="tags">
        <div class="btn-group" role="group">
            {% for tag in post['tags'] %}
            <form action="/posts" method="get" style="display: inline;">
                <input type="hidden" name="tag" value="{{tag}}">
                <button type="submit" class="btn btn-default">{{tag}}</button>
            </form>
            {% endfor %}
        </div>
    </div>
    <div>
        {% if logged_in %}
        <a class="btn btn-default" href="/drafts/{{post['id']}}" role="button">Edit</a>
        {% endif %}
    </div>
</div>
<script src="{{url_for('bower.static', filename='highlightjs/highlight.pack.min.js')}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}