{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
<div class="container">
    {% for post in posts if post['translations'] %}
    <article class="blogpost">
        <a href="{{'/posts/%s/%s' % (post['id'], post['url'])}}">
            <h2>{{post['translations'][post['language']]['title']}}</h2>
        </a>
        <div class="date">
            Published: {{ post['publish_date'].date() }} Last update: {{ post['update_date'].date() }}
        </div>
        <div class="post-content well">
            {{post['translations'][post['language']]['html'] | safe}}
        </div>
    </article>
    <div class="button">
        <a href="https://twitter.com/intent/tweet?text={{post['external_url']}}" class="btn btn-primary" target="_blank">
            <span>Tweet this post</span>
        </a>
    </div>
    <div class="tags">
        <div class="btn-group" role="group">
            {% for tag in post['tags'] %}
            <form action="/posts" method="get" style="display: inline;">
                <input type="hidden" name="tag" value="{{tag}}">
                <button type="submit" class="btn btn-default">{{tag}}</button>
            </form>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <nav>
        <ul class="pagination">
            {% if posts_before %}
            <li><a href="{{previous_page_path}}"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
            <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
            {% endif %}
            <li class="active"><span aria-hidden="true">{{page}}</span></li>
            {% if posts_after %}
            <li><a href="{{next_page_path}}"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
            <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}