<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="{{url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{url_for('bower.static', filename='highlightjs/styles/default.css')}}" rel="stylesheet">
    <title>Posts</title>
</head>
<body>
    <div class="container">
        <article class="blogpost">
            <h2>{{post['translations']['eng']['title']}}</h2>
            <div class="post-content well">
                {{post['translations']['eng']['html'] | safe}}
            </div>
        </article>
    </div>
    <script src="{{url_for('bower.static', filename='highlightjs/highlight.pack.min.js')}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{url_for('bower.static', filename='jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('bower.static', filename='bootstrap/dist/js/bootstrap.js')}}"></script>
</body>
</html>